/* styles.css */

.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #45a049;
}

.bar-chart {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.table-view {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.table-view .column-header-background .label {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 5;
}

.table-cell {
    -fx-padding: 5;
}
